
{{ $page_parmalink := .Permalink }}

{{ if $.Param "series" }}
<div class="expand">
  <button type="button" class="expand__button" aria-label="Expand Button">
    <span class="expand-icon expand-icon__right">
        {{ partial "svgs/arrow/keyboard-arrow-right.svg" (dict "width" 24 "height" 24) }}
    </span>
    List of Post Under 
    {{ range (.GetTerms "series") }}
      <a href="{{ .Permalink }}" class="single__tag" title="{{ .LinkTitle }}">{{ .LinkTitle }}</a>
    {{ end }}
     Series
  </button>
  <div class="expand__content">
    {{ $name := index .Params.series 0 }}
    {{ $name := $name | urlize }}
    {{ $series := index .Site.Taxonomies.series $name }}
    <ul class="series">
      {{ range $series.Pages.ByDate }}
        <li>
          {{.Date.Format "Jan 02, 2006"}} -
          {{ if eq $page_parmalink .Permalink }}
            {{.LinkTitle}}
          {{ else }}
            <a href="{{.Permalink}}">{{.LinkTitle}}</a>
          {{ end }}
      </li>
      {{end}}
    </ul>
  </div>
</div>
{{ end }}